<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>채팅 페이지</title>
    <style>
        #join-section {
            position: absolute;
            top: 20px;
            left: 20px;
        }
        #chat-section {
            margin-top: 100px; /* join 섹션 아래로 띄우기 */
        }
    </style>
</head>
<body>
    {% csrf_token %}

    <div id="join-section">
        <label for="chat-room-id">채팅방 ID:</label>
        <input type="number" id="chat-room-id" name="chat-room-id">
        <button id="join-btn">Join</button>
    </div>

    <div id="chat-section" style="display: none;">
        <textarea id="chat-log" cols="100" rows="20"></textarea>
        <br>
        <input id="chat-message-input" type="text" size="100"><br>
        <input id="chat-message-submit" type="button" value="Send">
        <input id="chat-disconnect" type="button" value="Disconnect">
    </div>

    <script>
        let ws = null;
        let currentRoomId = null;
        let token = null;

        document.addEventListener("DOMContentLoaded", function() {
            fetch(`/chats/token/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCSRFToken()
                }
            })
            .then(response => response.json())
            .then(data => {
                token = data.token;
            })
        });

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            ws.send(JSON.stringify({
                'user_id': {{ user.id }},
                'user_name': "{{ user.username }}",
                'room_id': currentRoomId,
                'message': message,
                'type': 'chat_message',
            }));
            messageInputDom.value = '';
        };

        function getCSRFToken() {
            return document.getElementsByName('csrfmiddlewaretoken')[0].value;
        }

        // join 버튼 클릭 이벤트 핸들러
        document.getElementById('join-btn').addEventListener('click', function() {
            const roomId = document.getElementById('chat-room-id').value;
            if (!roomId) {
                alert('채팅방 ID를 입력하세요.');
                return;
            }
            currentRoomId = roomId;

            // Django API 호출: /chats/join/{roomId} (POST)
            fetch(`/chats/${roomId}/join/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCSRFToken()
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('채팅방 참여 실패.');
                }
                // API 응답이 JSON 형식일 경우
                return response.json();
            })
            .then(data => {
                initWebSocket(roomId);
                document.getElementById('chat-section').style.display = 'block';
            })
            .catch(error => {
                console.error('에러:', error);
                alert('채팅방 참여에 실패하였습니다.');
            });
        });

        // 웹소켓 초기화 함수
        function initWebSocket(roomId) {
            const wsUrl = `ws://localhost:8000/ws/chat/${roomId}/`;
            ws = new WebSocket(wsUrl);

            ws.onopen = function() {
                ws.send(JSON.stringify({ type: "auth", user_id: {{ user.id }}, room_id: currentRoomId }));
            };

            ws.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            ws.onmessage = function(event) {
                console.log('수신 메시지:', event.data);
                const data = JSON.parse(event.data);
                if (data.type === 'chat_message') {
                    document.querySelector('#chat-log').value += (data.user_name + ' : ' + data.message + '\n');
                } else if (data.type === 'error'){
                    document.querySelector('#chat-log').value += (data.error_message + '\n');
                }
            };

            ws.onerror = function(error) {
                console.error('웹소켓 에러:', error);
            };

        }

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.getElementById("chat-disconnect").addEventListener("click", () => {
            if (ws.readyState === WebSocket.OPEN) {
                ws.close(1000, "disconnect by user");
                fetch(`/chats/${currentRoomId}/left/`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': getCSRFToken()
                    }
                }).then(response => {
                    document.getElementById('chat-section').style.display = 'none';
                    document.getElementById('chat-room-id').value = '';
                })
            }
        });
    </script>
</body>
</html>